export(nnls,nnnpls)

S3method("print", "nnls")
S3method("residuals", "nnls")
S3method("fitted", "nnls")
S3method("coef", "nnls")
S3method("deviance", "nnls")

S3method("print", "nnnpls")
S3method("residuals", "nnnpls")
S3method("fitted", "nnnpls")
S3method("coef", "nnnpls")
S3method("deviance", "nnnpls")
