# exportPattern("^[^\\.]")
export("icendata","is.icendata","npsurv","Deltamatrix","idf","km","plotsurvidf","plotgradidf","Uhaz","uh","hazuh","chazuh","survuh","denuh","plothazuh","plotchazuh","plotsurvuh","plotdenuh","plotgraduh","logLikuh")
import(lsei)
importFrom("grDevices", "col2rgb", "hsv", "rgb2hsv")
importFrom("graphics", "abline", "hist", "lines", "plot", "points", "segments", "legend", "rect")
importFrom("methods", "getFunction")
importFrom("stats", "aggregate", "weighted.mean")
S3method(print, idf)
S3method(plot, idf)
S3method(plot, npsurv)
S3method(print, uh)
S3method(plot, uh)
S3method(plot, Uhaz)
